
<div class="block-category-title">E-Commerce</div>
<div class="block-category">
    <div class="block-group">
        <span class="block-group-title">Blocks</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/productoverview']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-productoverviews-dark.svg' : 'assets/images/placeholders/placeholder-productoverviews.svg'" class="block-placeholder" alt="Product Overview">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Product Overview</span>
                            <span class="block-count">4 Blocks</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/productlist']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-productlists-dark.svg' : 'assets/images/placeholders/placeholder-productlists.svg'" class="block-placeholder" alt="Product Overview">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Product List</span>
                            <span class="block-count">9 Blocks</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/categorypreview']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-categorypreviews-dark.svg' : 'assets/images/placeholders/placeholder-categorypreviews.svg'" class="block-placeholder" alt="Product Overview">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Category Preview</span>
                            <span class="block-count">7 Blocks</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/shoppingcart']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-shoppingcarts-dark.svg' : 'assets/images/placeholders/placeholder-shoppingcarts.svg'" class="block-placeholder" alt="Product Overview">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Shopping Cart</span>
                            <span class="block-count">5 Blocks</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/categoryfilter']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-categoryfilters-dark.svg' : 'assets/images/placeholders/placeholder-categoryfilters.svg'" class="block-placeholder" alt="Product Overview">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Category Filter</span>
                            <span class="block-count">3 Blocks</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/productquickview']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-productquickviews-dark.svg' : 'assets/images/placeholders/placeholder-productquickviews.svg'" class="block-placeholder" alt="Product Overview">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Product Quickview</span>
                            <span class="block-count">2 Blocks</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/productfeature']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-productfeatures-dark.svg' : 'assets/images/placeholders/placeholder-productfeatures.svg'" class="block-placeholder" alt="Product Overview">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Product Feature</span>
                            <span class="block-count">7 Blocks</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/storenavigation']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-storenavigation-dark.svg' : 'assets/images/placeholders/placeholder-storenavigation.svg'" class="block-placeholder" alt="Product Overview">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Store Navigation</span>
                            <span class="block-count">3 Blocks</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/promosection']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-promosections-dark.svg' : 'assets/images/placeholders/placeholder-promosections.svg'" class="block-placeholder" alt="Product Overview">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Promo Section</span>
                            <span class="block-count">6 Blocks</span>
                        </div>
                        <span class="badge-new">1 New</span>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/checkoutform']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-checkoutforms-dark.svg' : 'assets/images/placeholders/placeholder-checkoutforms.svg'" class="block-placeholder" alt="Product Overview">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Checkout Form</span>
                            <span class="block-count">3 Blocks</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/review']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-reviews-dark.svg' : 'assets/images/placeholders/placeholder-reviews.svg'" class="block-placeholder" alt="Product Overview">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Review</span>
                            <span class="block-count">4 Blocks</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/ordersummary']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-ordersummaries-dark.svg' : 'assets/images/placeholders/placeholder-ordersummaries.svg'" class="block-placeholder" alt="Product Overview">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Order Summary</span>
                            <span class="block-count">3 Blocks</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/orderhistory']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-orderhistory-dark.svg' : 'assets/images/placeholders/placeholder-orderhistory.svg'" class="block-placeholder" alt="Product Overview">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Order History</span>
                            <span class="block-count">1 Block</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/incentive']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-incentives-dark.svg' : 'assets/images/placeholders/placeholder-incentives.svg'" class="block-placeholder" alt="Product Overview">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Incentive</span>
                            <span class="block-count">4 Blocks</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-group">
        <span class="block-group-title">Page Samples</span>
        <div class="block-group-content">
            <div class="grid">
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/storefront']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-storefrontpages-dark.svg' : 'assets/images/placeholders/placeholder-storefrontpages.svg'" class="block-placeholder" alt="Store Front">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Storefront</span>
                            <span class="block-count">2 Blocks</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/productpage']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-productpages-dark.svg' : 'assets/images/placeholders/placeholder-productpages.svg'" class="block-placeholder" alt="Store Front">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Product Page</span>
                            <span class="block-count">1 Block</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/categorypage']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-categorypages-dark.svg' : 'assets/images/placeholders/placeholder-categorypages.svg'" class="block-placeholder" alt="Store Front">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Category Page</span>
                            <span class="block-count">1 Block</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/shoppingcartpage']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-shoppingcarts-dark.svg' : 'assets/images/placeholders/placeholder-shoppingcarts.svg'" class="block-placeholder" alt="Store Front">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Shopping Cart Page</span>
                            <span class="block-count">1 Block</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/checkoutpage']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-checkoutpages-dark.svg' : 'assets/images/placeholders/placeholder-checkoutpages.svg'" class="block-placeholder" alt="Store Front">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Checkout Page</span>
                            <span class="block-count">1 Blocks</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/orderdetailpage']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-orderdetailpages-dark.svg' : 'assets/images/placeholders/placeholder-orderdetailpages.svg'" class="block-placeholder" alt="Store Front">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Order Detail Page</span>
                            <span class="block-count">1 Block</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <a [routerLink]="['/ecommerce/orderhistorypage']">
                        <img [src]="appConfig.dark ? 'assets/images/placeholders/placeholder-orderhistorypages-dark.svg' : 'assets/images/placeholders/placeholder-orderhistorypages.svg'" class="block-placeholder" alt="Store Front">
                    </a>
                    <div class="flex align-items-start justify-content-between">
                        <div>
                            <span class="block-name">Order History Page</span>
                            <span class="block-count">1 Blocks</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>